<!-- <h1> view của ap component</h1> -->

<!-- <h1>{{ title }}</h1> -->
<!-- <h1>{{ age }}</h1> -->
<!-- <h1>{{ hasMoney }}</h1> -->
  <!-- <app-b-property></app-b-property> -->
  <!-- <app-c-claas></app-c-claas> -->
  <!-- <app-pet></app-pet> -->
  <!-- <app-product></app-product> -->
   <!-- <app-d-event></app-d-event> -->
<!-- <app-e-two-way></app-e-two-way> -->
<!-- <app-f-pipes></app-f-pipes> -->
<!-- <app-m-template-variable></app-m-template-variable> -->
<!-- <app-g-ng-if></app-g-ng-if> -->
<!-- <app-h-ng-for></app-h-ng-for> -->
<!-- <app-i-ng-switch></app-i-ng-switch> -->
<!-- <app-j-ng-class></app-j-ng-class>  -->
<!-- <app-font-size-editor></app-font-size-editor> -->
<!-- <app-k-ng-style></app-k-ng-style> -->

<!--
<app-n-input [item]="'hello'"></app-n-input>

<app-o-ouput (answerRequest)="appComponentAnswer($event)"></app-o-ouput> -->

<!-- <app-game-numbers></app-game-numbers> -->
<app-u-template-driven></app-u-template-driven>
<!-- <app-v-data-driven></app-v-data-driven> -->
















<!--
AppComponent
  HeaderComponenr
  SidebarComponenr
  FoteComponenr

-->
